* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color-dark: #000;
    --body-bg-color-bright: #4c3478;
    --body-text-color-bright: azure;
    --button-bg-color-dark: #333;
    --button-bg-color-bright: #9370db;
    --button-text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color-dark);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body.bright-mode {
    background-color: var(--body-bg-color-bright);
    color: var(--body-text-color-bright);
}

#sphere {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#sphere::-webkit-scrollbar { 
    width: 0;  /* Remove scrollbar space */
    height: 0;
}

#join-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    z-index: 1;
    margin-top: 3.5%;
}

#join-btn:hover {
    background-color: #ff4d2e;
    transform: scale(1.1);
}


#hero {
    margin-top: 8.7%;
}


#toggle-mode-btn {
    background-color: var(--button-bg-color-dark);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 3px;
    top: 5px;
}

#toggle-mode-btn:hover {
    background-color: var(--button-bg-color-bright);
}

.bright-mode #toggle-mode-btn {
    background-color: var(--button-bg-color-bright);
}

.bright-mode #toggle-mode-btn:hover {
    background-color: var(--button-bg-color-dark);
}


.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: bubbleAnimation 5s linear infinite;
    opacity: 0;
}

@keyframes bubbleAnimation {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav i {
    margin-right: 5px;
}


main {
    width: 50%;
    position: relative;
    top: 9.5%;
    left: auto;
    text-align: center;
    color: #fff;
    margin: 30px;
    padding: 25px;
}

section {
    margin: 40px 0;
}

#hero h1 {
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#hero p {
    font-size: 1.3rem;
    margin: 20px auto;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    padding: 20px;
    border-radius: 10px;
    width: calc(33% - 40px);
    position: relative;
    overflow: hidden;
    margin: 15px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode .card {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

body.bright-mode .card {
    background-color: rgba(33, 32, 36, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#contact {
    text-align: center;
    margin-top: 40px;
}

#contact h2 {
    font-size: 1.6rem;
    margin: 20px auto;
}

#contact p {
    margin-bottom: 30px;
}

#contact a {
    margin: 20px 20px;
}

#activate-ai {
    background-color: #9370db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#activate-ai:hover {
    background-color: #7b68ee;
    transform: scale(1.1);
}


#ai-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    z-index: 999;
    max-width: 400px;
}

#ai-container h3 {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
}

#ai-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    background-color: #adafe2;
}

#ai-container button {
    background-color: #6d4caf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    position: relative;
    left: 35%;
    top: 17px;
}

#ai-container button:hover {
    background-color: #3e2b64;
}

#ai-response {
    margin-top: 45px;
    margin-bottom: 15px;
    font-style: italic;
}

@keyframes bubble {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}

